@charset "UTF-8";

/* header.jsp*/
header{
	position: static;
	top: 0;
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	background-color: olive;
}
nav{
	position: static;
	top: 100px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 25%;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
}
nav a:nth-child(3){
	margin-left: 35%;
}
a{
	text-decoration: none;
	color: black;
}
a:hover {
	color: olive;
}
hr{
	position: static;
	top: 130px;
	width: 100%;
}

/* footer.jsp */
footer{
	position: static;
	bottom: 0;
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: olive;
}

/* signUp.jsp , login.jsp */
.section1{
	position: static;
	top: 140px;
	width: 100%;
	height: 100%;
	align-items: center;
	margin: 0 auto;
	padding: 5% 0 10% 30%;
}

form#signUpFrm , form#loginFrm{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40%;
	border: 1px solid gray;
	border-radius: 10px;
}

table{
	padding: 20px 0;
}

table tr td{
	font-size: 20px;
	padding: 5px;
	font-weight: bold;
}

td input[type=text], td input[type=password], td input[type=email]{
	width: 200px;
	height: 25px;
}

td input[type=button]:not(#overlapBnt){
	font-size: 20px;
	height: 50px;
	width: 120px;
	font-weight: bold;
	
}
form table tr td:last-of-type {
	padding-top: 10px;
	text-align: center;
}

/* list.jsp */
aside #searchFrm{
	position: static;
	padding-left: 45%;
	margin-top: 20px;
}


#listSec{
	position: static;
	top: 220px;
	width: 100%;
	height: 100%;
	padding: 0;
}

a img{
	width: 200px;
	height: 280px;
}

ul{
   list-style:none;
   text-align: center;
   display: inline-block;
   margin: 0 10% 5% 15%;
   padding-left: 90px;
}

li{
	margin: 0 0 0 0;
    padding: 40px;
    border : 0;
    float: left;
}

/



